#iconeheader{
    width: 10%;
    height: auto;
}
.topnav{
    position: relative;
    z-index: 2;
    box-shadow: 0 0 20px 0 rgb(0 0 0 / 0%);
}
#carouselExampleIndicators{
    position: relative;
    z-index: 1;
  margin-top: -40px;  
}

.carousel-item{
    height:40rem;
}

.carousel-item img{
    width: 100%;
}

