
#iconeheader{
    width: 15%;
    height: auto;
}

body{
  margin:0px;
  padding: 5px;
  font-family: 'Open Sans', sans-serif;

  background-repeat:no-repeat;
  background-size: cover;
  width: 100%;
}


header{
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
}
header h1{
  font-size: 50px;
  max-width: 500px;
  text-align:center;
}
header button{
  padding: 15px 20px;
  font-size: 20px;
  border:none;
  border-radius: 5px;
  outline:none;
  cursor:pointer;
}

.container{
   
   background-image:url("img/teste.jpg");
    padding: 50px 100px;
    text-align: center;
    font-family: "montserrat";
    min-height:20%; 
	  min-width:100%;
  }

.main{
  margin: 20px;
  margin-top: 80px;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}

.cards{
  display:flex;
  flex-wrap:wrap;
}
.cards .card{
  margin-right: 20px;
  cursor:pointer;
}
.cards .card img{
  width: 350px;
}
.cards .card .card-header{
  display: flex;
  flex-wrap:wrap;
  justify-content: space-between;
}
.cards .card .card-body p{
  margin-top: -10px;
}

