body{
    
    background-repeat:no-repeat;
    background-size: cover;
    background-origin: content-box;

    margin: 5px;
    padding: 0;
  }
  #iconeheader{
    width: 15%;
    height: auto;
}

  .container{
    text-align: center;
    margin-top: 10px;
    background-image:url("img/back.png");
    

  }
  
  .photocenter{
    
    display: block;
    margin: 0 auto; 
}

  .btn{
    border: 7px solid #57CBAB;
    border-radius: 10px;
    background:white;
    padding: 40px 80px;
    font-size: 20px;
    font-family: "montserrat";
    cursor: pointer;
    margin: 10px;
    transition: 0.8s;
    position: relative;
    overflow: hidden;
  }
  .btn1,.btn2, .btn3{
    color: #57CBAB;
  }
  
  .btn1:hover,.btn2:hover, .btn3:hover{
    color:#268066;
  }
  
  .btn::before{
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0%;
    background: #57CBAB;
    z-index: -1;
    transition: 0.8s;
  }
  .btn1::before,.btn3::before, .btn2::before{
    top: 0;
    border-radius: 0 0 50% 50%;
  }
 
  .btn1:hover::before,.btn2:hover::before, .btn3:hover::before{
    height: 180%;
  }
  
  